<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8"/>
      <title>FSDN</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
      <style>
code {
  color: #444;
  background: #F0F0F0;
}
      </style>
  </head>
  <body>
    <nav class="light-blue darken-2">
      <div class="nav-wrapper">
        <a href="@Root/" class="brand-logo">
          <img src="@Root/fsdn_mono.png" width="85px" height="64px"></img>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="@Root/" class="collection-item">Search</a></li>
          <li><a href="@Root/assemblies.html" class="collection-item">Target Assemblies</a></li>
          <li><a class="dropdown-button" data-activates="query_spec">Query Spec</a></li>
          <ul id="query_spec" class="dropdown-content">
            <li><a href="@Root/en/query_spec.html">English</a></li>
            <li><a href="@Root/ja/query_spec.html">Japanese</a></li>
          </ul>
          <li>
            <a href='@Properties["project-github"]/issues'>
              <span class="octicon octicon-issue-opened"></span>
              Issue
            </a>
          </li>
          <li>
            <a href='@Properties["project-github"]'>
              <span class="octicon octicon-repo-forked"></span>
              Fork
            </a>
          </li>
          <li>
            <a href='@Properties["tweet"]'>
              <span class="fa fa-twitter"></span>
              Tweet
            </a>
          </li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="@Root/" class="collection-item">Search</a></li>
          <li><a href="@Root/assemblies.html" class="collection-item">Target Assemblies</a></li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header">Query Spec</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="@Root/en/query_spec.html">English</a></li>
                    <li><a href="@Root/ja/query_spec.html">Japanese</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href='@Properties["project-github"]/issues'>
              <span class="octicon octicon-issue-opened"></span>
              Issue
            </a>
          </li>
          <li>
            <a href='@Properties["project-github"]'>
              <span class="octicon octicon-repo-forked"></span>
              Fork
            </a>
          </li>
          <li>
            <a href='@Properties["tweet"]'>
              <span class="fa fa-twitter"></span>
              Tweet
            </a>
          </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
    <div id="app" class="row">
      @RenderBody()
    </div>
    @Properties["script"]
    <script>
hljs.initHighlighting();
$(document).ready(function(){
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
});
    </script>
    <footer class="page-footer light-blue darken-2">
      <div class="container" id="footer-body"/>
    </footer>
  </body>
</html>
