<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>FSDN</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <style>
code {
  color: #444;
  background: #F0F0F0;
}
      </style>
  </head>
  <body>
    <nav class="light-blue darken-2">
      <div class="nav-wrapper">
        <a href="@Root/" class="brand-logo">
          <img src="./fsdn_mono.png" width="85px" height="64px"></img>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="@Root/" class="collection-item">Search</a></li>
          <li><a href="@Root/assemblies.html" class="collection-item">Target Assemblies</a></li>
          <li><a href="@Root/query_spec.html" class="collection-item">Query Spec</a></li>
          <li>
            <a href="@Properties["project-github"]/issues">
              <span class="octicon octicon-issue-opened"></span>
              Issue
            </a>
          </li>
          <li>
            <a href="@Properties["project-github"]">
              <span class="octicon octicon-repo-forked"></span>
              Fork
            </a>
          </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="@Root/" class="collection-item">Search</a></li>
          <li><a href="@Root/assemblies.html" class="collection-item">Target Assemblies</a></li>
          <li><a href="@Root/query_spec.html" class="collection-item">Query Spec</a></li>
          <li>
            <a href="@Properties["project-github"]/issues">
              <span class="octicon octicon-issue-opened"></span>
              Issue
            </a>
          </li>
          <li>
            <a href="@Properties["project-github"]">
              <span class="octicon octicon-repo-forked"></span>
              Fork
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="app" class="row">
      @RenderBody()
    </div>
    <script src="@Root@Properties["script"]"></script>
    <script>
$(document).ready(function(){
  $(".button-collapse").sideNav();
});
    </script>
  </body>
</html>
